body{
    color: white;
}

.destaque{
    background: linear-gradient(to right, #b92efa, #e0a8fa);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cont-inicio p{
    color: #c0c0c0;
    max-width: 600px;
}

.cont-inicio h1{
    font-size: 60px;
    opacity: 0;
    transform: translateY(-20px); 
    animation: deslizamento 1s ease-out forwards;
    animation-delay: 0.3s; 
}

@keyframes deslizamento {
    to {
      opacity: 1;
      transform: translateY(0); 
    }
}

.cont-inicio {
    margin-top: 80px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 0px;
    text-align: center;    
}

.cont-dois{
    margin-top:60px;
    background-color: white;
    padding: 80px 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    z-index: 0;
    
}

.card{
    background-color: #000000;
    border-radius: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: solid 8px #b92efa;
    justify-content: center;
    justify-content: center;     
    align-items: center;         
    text-align: center;  
    transition: transform 0.3s ease-out;
}

.card img{
    width: 200px;
}

.card h1{
    font-size: 20px;
}

.card a{
    background: linear-gradient(to right, #b92efa, #dfaff5);
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.titulo-academico{
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    z-index: 1;
    margin-bottom: 40px;
    text-align: center;
}

.card:hover{
    transform: translateY(-15px);
}

.circle p{
    font-size: 20px;
    color: white;
    background-color: transparent;
    z-index: 1;
}

.circle{
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: transparent;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(to right, #b92efa, #dfaff5);
    border-radius: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;     
    align-items: center;         
    text-align: center;  
    transition: transform 0.3s ease-out;
}

.circle:hover{
  transform: scale(1.05);
  background: transparent;
  border: 2px solid #b92efa;
}

.circle:hover p {
  color: black;
}

.cont-dois hr {
  width: 100%;
  border: none;
  height: 2px;
  background-color: #c0bdc1;
  margin: 40px 0;
}

.slider {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: transparent;
}

.logos {
  display: inline-flex;
  animation: scroll 20s linear infinite;
  background-color: transparent;
  width: calc(200%);
}

.logos img {
  height: 60px;
  margin: 0 40px;
  opacity: 0.6;
  transition: opacity 0.3s;
  background-color: transparent;
}

.logos img:hover {
  opacity: 1;
  filter: none;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.logo {
  height: 60px;
  width: auto;
  margin: 0 20px;
  display: inline-block;
  vertical-align: middle;
  filter: grayscale(100%);
  background-color: transparent;
}

.tech-skills h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 40px;
    background-color: transparent;

}

.tech-skills hr{
  width: 100%;
  border: none;
  height: 2px;
  background-color: #1f1e20;
  margin: 40px 0;
}

.tech-skills{
    background-color: #090909;
    box-shadow: 0 0 15px #302e2e9e;
}

